<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
      
       {{>navbar}}
     

      <!-- main header  -->
    
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

              <div class="row">
                          <!-- left side div -->
                          <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                             <img src="https://tse3.explicit.bing.net/th?id=OIP._49OFkrkqDa8tN1u00iQIQEyDM&pid=Api&P=0" alt="Rahul" class="img-fluid" title="Rahul Kumar">
                            </figure>
                          </div>

                          <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to Rahul's Real-Time-WeatherApp</p>
                            <h1>I Am A <span class="txt_clr">MERN Stack Developer</span> And A <span class="txt_clr">Competitive Programmer</span> From NIT JSR.</h1>
                            <a href="https://drive.google.com/file/d/1WuvMY9plIRkS54AyRJAtSdlrlaHU5zzC/view" target="_Rahul"><button>About Me</button></a>
                          </div>
                       </div>
                     </div>
                   </div>
                  </div>

  
    
      <!-- footer -->
    {{>footer}}


</body>
</html>