<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
      
       {{>navbar}}
     

      <!-- main header  -->
    
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

              <div class="row">
                          <!-- left side div -->
                          <div class="col-md-11 col-12 main_header_left align-items-center">
                            <figure>
                             <img src="https://tse2.mm.bing.net/th?id=OIP.k9-JBmeJH3C81GmJ2VVwTwHaEK&pid=Api&P=0" alt="Rahul" class="img-fluid">
                            </figure>
                            <h1>{{errorMsg}}</h1>
                             <a href="/"><button>Go_back</button></a>
                          </div>
                       </div>
                     </div>
                   </div>
                  </div>

  
    
      <!-- footer -->
    {{>footer}}


</body>
</html>